

$primaryColor: #5387F4;
$primaryColorThin2: #6791eb;
$primaryColorThin3: #79bbff;
$primaryColorThin5: #a0cfff;
$primaryColorThin7: #c6e2ff;
$primaryColorThin9: #d0defc;


$successColor:#67c23a;
$successColorThin3:#95d475;
$successColorThin5:#b3e19d;
$successColorThin7:#d1edc4;
$successColorThin8:#e1f3d8;
$successColorThin9:#f0f9eb;

$primaryRadius: 6px;

$disableColor: #969799;
$disableColorThin3: #c8c9cc;
$disableColorThin5: #dcdee0;
$disableColorThin7: #ebedf0;
$disableColorThin9: #f2f3f5;

$thinBorder: 1px solid #efefef;

$biColor: #e95954;